*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding: 0 5px 0 5px;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.navbar{
    display: flex;
    align-items: center;
    margin: 40px auto 0px auto;
    max-width: 1138px;
}
.menu{
    margin: 0 0 0 65px;
    width: 100%;
}
.menu__list{
    display: flex;
    justify-content: space-between;
    gap: 33px;
}
/* .menu__sublist{
    display: flex;
   
} */
.phone{
    position: relative;
    padding: 0 0 0 26px;
    color: #000;
}
.phone::before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/phone.svg);
    position: absolute;
    top: 3px;
}
.menu__account{
    position: relative;
    padding: 0 32px 0 0;
}
.menu__account-img{
    width: 1px;
    height: 19px;
    display: block;
}
.menu__account::before{
    content: "";
    display: block;
    width: 1px;
    height: 19px;
    background-image: url(../img/line.svg);
    position: absolute;
    right: 0px;
}
.menu__item{
color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 15px;

}
.menu__link:hover::after{
content: "";
position: absolute;
border-radius: 10px;
background: #B00000;
height: 2px;
top: 27px;
width: 75%;
left: 50%;
transform: translateX(-50%);
}
.menu__link{
    color: #000;
    position: relative;
}
/* .menu__link:hover::after{
    content: "";
    display: block;
    border-bottom: 2px solid #000;
} */